* {
    margin: 0;
    padding: 0;
}

.portfolio-section {
    height: 500px;
    width: 100%;
    border: 2px solid black;
    text-align: center;
    background-color: white;
}

.navigation-bar {
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 1;
}

.portfolio-section h1 {
    margin-top: 50px;
}

html {
    scroll-behavior: smooth;
}

.brand {
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.navmenu {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 5px;
}
.navmenu:hover {
    color: #ff0000;
    transition: 0.5s;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.main-container {
    position: relative;
    top: 80px;
}
.tracking-in-expand {
    -webkit-animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}
#home-info {
    background-image: url("https://camo.githubusercontent.com/01c83210f7feb975ea3b9a852808beb6689425add471f76f942c15875626af5d/68747470733a2f2f696d616765732e73717561726573706163652d63646e2e636f6d2f636f6e74656e742f76312f3537363966633430316236333162616231616464623261622f313534313538303631313632342d5445363451474b524a4738535741495553374e532f6b6531375a77644742546f6464493870446d34386b506f73776c7a6a53564d4d2d53784f703743563539425a772d7a505067646e346a557756634a45315a7657515578776b6d794578676c4e714770304976544a5a616d574c49327a76595748384b332d735f3479737a63703272795449304871544f6161556f68724938504936465879386339505774426c7141566c555335697a7064634958445a71445976707252715a32395077306f2f636f64696e672d667265616b2e676966");
    background-position: 10%;
}