* {
    margin: 0;
    padding: 0;
}

.portfolio-section {
    height: 400px;
    width: 100%;
    border: 2px solid black;
    text-align: center;
    background-color: white;
}

.navigation-bar {
    position: fixed;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 1;
}

.portfolio-section h1 {
    margin-top: 50px;
}

html {
    scroll-behavior: smooth;
}

.brand {
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.navmenu {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 5px;
}
.navmenu:hover {
    color: #ff0000;
    transition: 0.5s;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.main-container {
    position: relative;
    padding-top: 80px;
}
.tracking-in-expand {
    -webkit-animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}